body {
    font-family: serif, cursive; /* 行書体に変更 */
    text-align: center;
    background-repeat: none;     /*この下が背景画像の設定*/
    background-size: cover;
    background-position: center;
    /*background-image: url("img/hinoki.jpg");*/ /*htmlに直接書いた*/
}

/* タイトルのスタイル */
h1 {
    font-family: "HG行書体", cursive; /* 行書体に変更 */
    font-size: 50px; /*フォントサイズ*/
    text-align: center; /* タイトルを中央揃えにする */
}

/* コンテナのスタイル */
.bath-container {
    display: inline-block;/*枠の設定*/
    align-items: center; /* 中央揃え */
    border: 2px solid #ccc;/*枠の縁の設定*/
    border-radius: 5px;
    width: min(90%, 550px);
    margin: 20px 2vw;
    background-color: #E9B362; /* 背景色を設定 */
    position: relative; /* 相対位置指定 */
    padding-bottom: 0;
    height: 750px; /*高さ*/
    box-shadow: 10px 10px 5px black; /*枠の影の追加*/
    border: 1px solid #000; /*枠の影*/
    border-radius: 20px; /*枠の角の丸さ*/
}

/* 風呂名のスタイル */
h2 {
    font-family: "HG行書体", cursive; /* 行書体に変更 */
    font-size: 60px; /*フォントサイズ*/
    text-align: center; /* テキストを中央揃えにする */
    position: absolute; /* 絶対位置指定 */
    top: 0; /* 上部に配置 */
    left: 50%; /* 中央に配置 */
    transform: translateX(-50%); /* 水平方向に中央揃え */
    width: 100%;
}

/* 人数表示のスタイル */
.count {
    font-size: 200px; /* 数値のフォントサイズを大きくする */
    text-align: center; /* テキストを中央揃えにする */
    width: 300px;
    top: 20%;
    margin: 170px 0 0 110px;
    text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black; /* 影を追加して黒い縁取りを作成 */
}

/* 単位のスタイル */
.unit {
    font-size: 14px; /* 単位のフォントサイズを調整 */
    color: black !important; /* 人の色を黒に設定 */
}

/* 色付けのスタイル */
.green {
    color: green;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}

#detailPeople {
    display: block;
}

.ninn {   /*人のspanの設定*/
    display: block;
    margin-left: 50%;
    transform: translateY(-200px);
}

.ninn h3 {   /*人の位置設定*/
    font-size: 50px;
    display: inline-block;
    width: 20px;
    margin-right: 0;
    text-align: left;
}

.canvas {
    position: absolute;
    width: 70%;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
}

/*レスポンシブデザインの導入*/
@media screen and (min-width: 611px) and (max-width: 1227px) {
    .count {
        margin: 170px 0 0 150px;
    }
}

@media screen and (max-width: 611px) {
    .count {
        margin: 170px 0 0 calc(20% - 100px);
    }
}